<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header class="mdl-layout__header--seamed header-container">
		<div class="mdl-layout__header-row header-row" id="header-row-contact">
			<a href="/" class="header-logo"></a>
	</header>
	<main class="mdl-layout__content mdl-color-text--grey-700">
		<section class="section-contact">
			<div class="card-layout__card mdl-card mdl-shadow--2dp card-page">
				<div class="mdl-card__title section-title primary-color">{{ .Title }}
				</div>

				<div class="mdl-card__supporting-text">
					{{ .Content }}
				</div>
			</div>
		</section>
	</main>

	<!--<section>-->
	<!--    	 	<div class="card-layout__card mdl-card mdl-shadow--2dp">-->
	<!--				<div class="mdl-card__title section-title">{{ .Title }}-->
	<!--					<h2 class="mdl-card__title-text">Welcome</h2>-->
	<!--					<div class="section-title"> {{ .Title }} </div>-->
	<!--				</div>-->

	<!--				<div class="mdl-card__supporting-text">-->
	<!--					{{ .Content }}-->
	<!--				</div>-->
	<!--			</div>-->

	<!--  </section>-->
	<!--<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">-->
	<!--	<main class="mdl-layout__content mdl-color-text--grey-700">-->
	<!--		<div class="content mdl-grid mdl-grid--no-spacing" id="content">-->
	<!--				<div>{{ partial "logo.html" }}</div>-->

	<!--		</div>-->
	<!--{{ partial "footer.html" . }}-->
	<!--	</main>-->
	<!--</div>-->

	{{ partial "footer_includes.html" . }}
</body>

</html>