<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!--<header class="mdl-layout__header mdl-layout__header--transparent">-->
		<!--	<div class="mdl-layout__header-row">-->

		<!--	</div>-->
		<!--</header>-->
		<main class="mdl-layout__content mdl-color-text--grey-700">

			<div class="content mdl-grid mdl-grid--no-spacing" id="content">
				<section>
					<div>
						<a href="/" class="mdl-navigation__link site-title">
							<!--<div class="site-logo"></div>-->
							<span>{{ .Site.Title }}</span>
						</a>
					</div>
					<div class="contact-card mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title">
							<!--<h2 class="mdl-card__title-text">Welcome</h2>-->
							<div class="section-title"> {{ .Title }} </div>
						</div>

						<div class="mdl-card__supporting-text">
							<!--<div class="section-title"> {{ .Title }} </div>-->
							{{ .Content }}
						</div>
					</div>
				</section>
			</div>
		</main>
		{{ partial "footer.html" . }}
	</div>
</body>

</html>