{{ define "main" }}
<section class="top-section" id="section-page__googleforeducation">
    <div class="section-title">
        {{ .Title }}
    </div>
    <p class="section-subtitle center-text">
        {{ .Params.subtitle }}
    </p>
</section>
<section class="secondary-section">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="section-title">{{ .Params.section_services_title }}</div>
            <p>{{ .Params.section_services_text | safeHTML}}</p>
        </div>
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar list-large-icons colored md-48">school</i>
                  <span>{{ .Params.section_services_training_title }}</span>
                  <span class="mdl-list__item-text-body">
                      {{ .Params.section_services_training_text }}
                  </span>
                </span>
            </li>
        </ul>
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar list-large-icons colored md-48">laptop_chromebook</i>
                  <span>{{ .Params.section_services_chromebook_title }}</span>
                  <span class="mdl-list__item-text-body">
                      {{ .Params.section_services_chromebook_text | safeHTML }}
                  </span>
                </span>
            </li>
        </ul>
        <ul class="mdl-list">
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-avatar list-large-icons colored md-48">help</i>
                  <span>{{ .Params.section_services_admin_title }}</span>
                  <span class="mdl-list__item-text-body">
                      {{ .Params.section_services_admin_text }}
                  </span>
                </span>
            </li>
        </ul>
    </div>
</section>
{{ partial "free-demo.html" . }}

{{ end }}