{{ define "main" }}

<section class="top-section" id="section-page__about">
    <div class="section-title">
        {{ .Title }}
    </div>
    <p class="section-subtitle">
        <blockquote class="justify-text">{{ .Params.subtitle }}</blockquote>
    </p>
</section>

<!--<section class="secondary-section">-->
<!--    <div class="section-title padded-section-title center-text">{{ .Params.section_mission__title }}</div>-->
<!--    <blockquote class="justify-text">{{ .Params.section_mission__text }}</blockquote>-->
<!--</section>-->
<section id="" class="secondary-section">
    <div class="section-title padded-section-title center-text">{{ .Params.section_team__title }}</div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col mdl-cell--5-col-tablet mdl-cell--6-col-phone">
            <p class="larger-text section-title bio-name">{{ .Params.section_team__p1_name }}</p>
            <span class="bio-title section-subtitle bio-title">{{ .Params.section_team__p1_title }}</span>
            <p class="larger-text bio-text justify-text">{{ .Params.section_team__p1_text }}</p>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--3-col-tablet mdl-cell--6-col-phone">
            <img src="/img/me.jpg" class="mdl-shadow--2dp bio-photo">
        </div>
    </div>
    
</section>
<section class="secondary-section section-white">
    <a id="improve-online-presence"></a>
    <div class="section-title padded-section-title">{{ .Params.section_clients__title }}</div>
    <p class="section-subtitle">{{ .Params.section_clients__text }}</p>
    <div class="mdl-grid">
        <div class="mdl-cell">
            <img src="/img/clients/logo_vinet.jpg" class="logo-clients">
        </div>
        
    </div>
</section>
{{ end }}
