html > body {
    font-family: 'Roboto', sans-serif;
}

div.header-row {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

#content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.language-selector {
    position: absolute;
    top: 0;
    right: 0;
}

a.navigation__link {
    border-right: solid #eaeaea 1px;
    border-left: solid #eaeaea 1px;
    opacity: 0.7;
    font-weight: 600;
}

a.navigation__link:hover {
    opacity: 1;
}

.contact-card.mdl-card {
    width: 700px;
    
}

.mdl-card__title {
    background: url("/img/email-banner.png") no-repeat;
}

.content p {
    max-width: 700px;
    text-align: justify;
}

.g-recaptcha{
    margin-bottom: 20px;
}

.section-title {
    font-weight: 100;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 50px;
}

form .mdl-textfield{
    width:100%;
}

form .mdl-button.submit-button{
    width: 200px;
    background: #29B6F6;
}

.mdl-navigation__link.site-title {
    font-family: "Reem Kufi", sans-serif;
    /*border-right: solid #eaeaea 1px;*/
    font-size: 2em;
    display: block;
    color: #c0392b !important;
    line-height: 64px;
    padding: 1px 10px 0 45px !important;
    /*padding-left: 45px;*/
    opacity: 0.9;
    background: url("/img/logo.svg") no-repeat;
    background-size: 42px;
    background-position: left;
}