/*default document styles*/

html {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    -webkit-font-smoothing: antialiased;
}

main {
    width:100%;
}

a {
    color: #ff4081;
    font-weight: 500;
    text-decoration: none;
}

section, #header-row {
    padding: 0 15%;
}

section.page-section {
    display:block;
    position: relative;
    padding-bottom: 5em;
    padding-top: 5em;
}

.page-section.section-title{
    padding-top: 50px;
    padding-bottom: 30px;
}

.section-title {
    font-weight: 300;
    font-size: 2.5em;
    line-height: 100%;
    margin:0;
}

.section-subtitle{
    font-weight: 300;
    font-size:1.6em;
    padding-top:10px;
    padding-bottom: 10px;
}

.section-title.primary-color, h5.primary-color{
    color: #03A9F4;
}

.section-home{
    background-color: #27ae60;
    color: #fff;
    height: 250px;
}

section.page-section.section-home:after {
    display: block;
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    bottom: -30px;
    left: 50%;
    margin-left: -50px;
    background-color: #27ae60; /** Change This Value ***/
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}

.section-googleforwork{
    padding-top: 60px;
}

.section-googleforeducation{
    background:
        linear-gradient( to right,
          rgba(2,119,189 ,1),
          rgba(2,119,189 ,0.75)
        ),
        url(/img/classroom_small.jpg);
    
    /*-webkit-filter: grayscale(50%);*/
    /*background-position: 0px -10px;*/
    background-repeat: no-repeat;
    height: 300px;
    color: #fff;
    font-weight:400;
}


.section-contact, #header-row-contact {
    /*width:100%;*/
    /*padding: 0 20%;*/
    padding-left:20%;
    padding-right: 20%;
    padding-bottom:10px;
}




@media (max-width: 1024px) {
    #content {
        width:95%;
    }
    section, .section-contact, #header-row-contact{
        padding:0 2%;
    }
    
    section.page-section.section-home::after {
        width: 30px;
        height: 30px;
        bottom: -15px;
    }
}

/*default header styles*/
.mdl-navigation__link.navigation__link {
    opacity: 0.7;
    font-weight: 500;
    font-size:1em;
    padding: 0 17px;
    color: #424242;
}

.navigation__link:hover {
    opacity: 1;
}

.header-logo{
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    width: 120px;
    max-height: 55px;
    height:80%;
    background-size: contain;
}

.navigation{
    float:right;
}

.site-logo {
    line-height: 100%;
    height: 55px;
    width: auto;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: #424242;
}

.mdl-layout__drawer .mdl-navigation.drawer-navigation{
    padding-top: 0px;
}



@media (max-width: 1024px) {
    #header-row {
        padding: 0px 1% 0px 50px;
    }
}


/* Default Section Element */


/*default footer styles*/
footer.mdl-mini-footer.default-footer {
    padding:20px 20px;
}


/* card layout elements */

.card-layout__card.card-page {
 width:100%;   
 margin-top: 10px;
}

.card-page > .mdl-card__supporting-text{
    width:auto;
}
/*default elements styles*/

.mdl-button.btn-primary {
    color: #fff;
    border-color: #27ae60;
    background:#27ae60;
    border-radius: 3px;
    max-height: 38px;
    /*border: 3px solid #63ba5f;*/
}

.mdl-button.btn-primary:hover {
    /*background: #FFF;*/
    color: #fff;
    border-color: #2dc16c;
    background: #2dc16c;
    /*border: 3px solid #49a145;*/
    /*color: #49a145;*/
}

.mdl-button.btn-primary.contact-us-btn {
    /*float:right;*/
    border: 3px solid #27ae60;
    background: #FFF;
    color: #27ae60;
    height: 38px;
}

.mdl-card.full-width{
    width: 100%;
}

.mdl-grid, .mdl-cell{
    padding-left:0px;
    padding-right:0px;
}

ul.mdl-list, li.mdl-list__item{
   padding:0px; 
   min-height:30px;
}
.mdl-list__item-icon.icon-done{
    color: #27ae60;
}

.mdl-card.address-card{
    width: 100%;
}


.language-selector {
    position: absolute;
    top: 0;
    right: 0;
}

.g-recaptcha{
    margin-bottom: 20px;
}



form .mdl-textfield{
    width:100%;
}

form .mdl-button.submit-button{
    width: 100%;
    /*background: #29B6F6;*/
}
