body, html {
    background-color: #e7eaec;
}

.header-row{
    width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.language-selector{
    position:absolute;
    top: 0;
    right: 0;
}

.main-navigation{
    border-right: solid #eaeaea 1px;
    opacity: 0.8 !important;
    font-weight: 600 !important;
}

.main-navigation:hover{
    opacity: 1 !important;
}

.navigation-title{
    background-color: #19763e;
    font-size: 2em;
    display: block;
    color: rgb(66,66,66);
    line-height: 64px;
    padding: 0 24px
}