<section class="secondary-section" id="section-index__googleforwork">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
            <div class="section-title">{{ i18n "index_googleforwork_title" }}</div>
            <p class="section-title section-subtitle">
                {{ i18n "index_googleforwork_subtitle" }}
            </p>
            <p>
                {{ i18n "index_googleforwork_text" }}
            </p>
        </div>
        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--6-col-phone">
            <div>
                <p class="section-subtitle">{{ i18n "index_googleforwork_card_title" }}</p>
                <ul class="mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon md-16 icon-done">done</i>
                                {{ i18n "index_googleforwork_card_item1" }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon md-16 icon-done">done</i>
                                {{ i18n "index_googleforwork_card_item2" }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon md-16 icon-done">done</i>
                                {{ i18n "index_googleforwork_card_item3" }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-icon md-16 icon-done">done</i>
                                    {{ i18n "index_googleforwork_card_item4" }}
                            </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect btn-accent" href="{{ "/google-for-work/" | relLangURL }}">
                      {{ i18n "learn_more" }}
                    </a>
                            </span>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</section>
