<section class="section-googleforeducation">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="section-title">For your school</div>
        </div>
        <div class="mdl-cell mdl-cell--7-col">
            <p class="section-title section-subtitle">
                We offer services to help your school smoothly transition to Google Apps for Education
            </p>
            <p>
                Google Apps for Education in combination to Google Chromebooks is an secure and ideal solution for your educational institution.
            </p>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="/google-for-education">
                Learn more
            </a>
        </div>
    </div>
</section>