<section class="secondary-section" id="section-index__googleforeducation">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="section-title">{{ i18n "index_googleforedu_title" }}</div>
        </div>
        <div class="mdl-cell mdl-cell--7-col">
            <p class="section-title section-subtitle">
                {{ i18n "index_googleforedu_subtitle" }}
            </p>
            <p>
                {{ i18n "index_googleforedu_text" }}
            </p>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{{ "/google-for-education" | relLangURL }}">
                {{ i18n "learn_more" }}
            </a>
        </div>
    </div>
</section>