{{ $sectionId := "1" }} 
{{ range where .Site.Params.sections "sectionId" "==" $sectionId }} 
{{ $section := . }}

<section class="section-home">
    <a id="{{ $section.prettyName | urlize }}"></a>
    
    <div class="section-title">{{ $section.subtitle }}</div>
    <p class="section-title section-subtitle">Loyall Gmbh is your trusted partner for IT projects and Google Apps for Work and Education</p>
</section>
<section class="section-about">
    <div class="section-title">Coming soon...</div>
    <p>
        Coming on September 16, 2016 Loyall is an IT consulting company based in Zurich, Switzerland. 
        Our website will be ready in a few days, check back again! 
        For information, contact us at info@loyall.ch.        
    </p>
</section>
{{ end }}
