<section class="section-services">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="section-title">Additional Services</div>
            <p class="section-title section-subtitle">
                Our range of services include
            </p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">store_mall_directory</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">Manage your online presence</span>
                    <p>Whether you are a business or an institution, we help you own and manage your listing on Google Maps. </p>
                </div>
                <div class="mdl-card__actions">
                    ...
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">done_all</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">Realize your projects</span>
                    <p>We provide resources and take care of your IT projects so that you can focus on your core business</p>
                </div>
                <div class="mdl-card__actions">
                    ...
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--3-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">wb_cloudy</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">Need your private cloud?</span>
                    <p>Our partners at <a href="http://a4p.ch">a4p.ch</a> are experts in private cloud and building in-house datacenters.</p>
                </div>
                <div class="mdl-card__actions">
                    Learn more
                </div>
            </div>
        </div>
    </div>
</section>