<section class="secondary-section">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="section-title">{{ i18n "index_services_title" }}</div>
            <p class="section-title section-subtitle">
                {{ i18n "index_services_subtitle" }}
            </p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">done_all</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">{{ i18n "index_services_projects_title" }}</span>
                    <p>{{ i18n "index_services_projects_text" }}</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                   <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        href="{{ "/services/#project-management" | relLangURL }}">
                      {{ i18n "learn_more" }}
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">store_mall_directory</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">{{ i18n "index_services_online_title" }}</span>
                    <p>{{ i18n "index_services_online_text" }}</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                   <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        href="{{ "/services/#improve-online-presence" | relLangURL }}">
                      {{ i18n "learn_more" }}
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
            <div class="mdl-card mdl-shadow--2dp services-card">
                <div class="card-title__icon mdl-typography--text-center">
                    <i class="material-icons md-48">wb_cloudy</i>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="card-subtitle">{{ i18n "index_services_cloud_title" }}</span>
                    <p>{{ i18n "index_services_cloud_text" | safeHTML}}</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                   <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                        href="http://a4p.ch" target="_blank">
                      {{ i18n "learn_more" }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>