<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
	{{ partial "head.html" . }}
</head>

<body>
	<header class="mdl-layout__header--seamed header-container">
		<div class="mdl-layout__header-row header-row" id="header-row-contact">
			<a href="/" class="header-logo"></a>
	</header>
	<main class="mdl-layout__content mdl-color-text--grey-700">
		<section class="section-contact">
			<div class="card-layout__card mdl-card mdl-shadow--2dp card-page">
					<div class="section-title primary-color">
						<div class="mdl-typography--text-center">{{ .Title }}</div>
					</div>
				<div class="mdl-card__supporting-text">
					{{ block "main" . }}
                 		<!-- The part of the page that begins to differ between templates -->
            		{{ end }}
            		
            		{{ block "back_button" . }}
            			{{ partial "back-to-site.html" . }}
            		{{ end }}
				</div>
			</div>
		</section>
	</main>
	{{ partial "footer_includes.html" . }}
</body>

</html>