{{ define "main" }}
<script type="text/javascript">
  var onloadCallback = function() {
    grecaptcha.render('g-recaptcha', {
      'sitekey': '6LeURygTAAAAAAfeKQjIzStD2zAPA3gRrxmA0oMK',
      'callback': verifyRecaptchaCallback
    });
  };
</script>
<p class="larger-text center-text">{{ .Params.subtitle }}</p>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet mdl-cell--12-col-phone">
    <form id="contact-form" action="?">
      <div class="form-fields-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="name" pattern="[A-Z,a-z, ]*" name="name">
          <label class="mdl-textfield__label" for="name">{{ .Params.name_label }}</label>
          <span class="mdl-textfield__error">{{ .Params.name_error }}</span>
        </div>
      </div>
      <div class="form-fields-group">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email" name="email">
          <label class="mdl-textfield__label" for="email">{{ .Params.email_label }}</label>
          <span class="mdl-textfield__error">{{ .Params.email_error }}</span>
        </div>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <textarea class="mdl-textfield__input" type="text" rows="5" id="request" name="request"></textarea>
        <label class="mdl-textfield__label" for="request">{{ .Params.message_label }}</label>
      </div>
      <p>{{ .Params.all_fields_required }}</p>
      <div class="g-recaptcha" id="g-recaptcha"></div>

      <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-primary submit-button" id="submit-button">
        {{ .Params.submit_form }}
      </button>
    </div>
    </form>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card mdl-shadow--2dp address-card">
        <div class="mdl-card__supporting-text">
          <h5 class="primary-color">{{ .Params.address_card_title }}</h5>
          <span>
            {{ .Params.office_address | safeHTML}}
          </span>
          {{ .Params.view_map | safeHTML}}
        </div>
      </div>
    
    </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>
{{ end }}

{{ define "back_button" }}
  <!-- No back button on contact page -->
{{ end }}