<footer id="page-footer" class="mdl-mini-footer default-footer ">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list smaller-text">
      <li>{{ .Site.Copyright | safeHTML}}</li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <ul class="mdl-mini-footer__link-list smaller-text">
      <li><a href="/terms-and-conditions">{{ i18n "terms" | safeHTML }}</a></li>
      <li><a href="/credits">{{ i18n "credits" }}</a></li>
      <li><a href="{{ "/contact" | relLangURL}}">{{ i18n "contact_us" }}</a></li>
    </ul>
  </div>
</footer>