<header id="header" class="mdl-layout__header">
  <div class="mdl-layout__header-row header-row" id="header-content">
    <a href="{{ "/" | relLangURL }}" class="header-logo"></a>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only navigation">
        {{ range .Site.Params.sections }}
          <a class="mdl-navigation__link navigation__link" href="{{ .path | relLangURL }}">
            {{ .prettyName }}
          </a>
        {{ end }}
      </nav>
      {{ partial "contact-us-button.html" }}
      {{ partial "language-selector.html" .}}
</header>

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation drawer-navigation">
    <a class="mdl-navigation__link" href="/"><i class="material-icons">home</i></a>
    
    {{ range .Site.Params.sections }}
      {{ $path := "a" }}
        <a class="mdl-navigation__link navigation__link" href="{{ .path | relLangURL }}">
          {{ .prettyName }}</a>
    {{ end }} 
  
  <div class="mdl-navigation__link">
    {{ $currentLanguage := .Language.LanguageName }}
    {{ range .Site.Languages }}
      {{ if ne $currentLanguage .LanguageName }}
        <a href="{{ printf "%s%s" "/" .Lang }}">{{ .LanguageName }}</a>
      {{ end }}
    {{ end }}
    
  </div>
  
  <!--{{ range .Site.Languages }}-->
  <!--    <a href="{{ printf "%s%s" "/" .Lang }}">{{ .LanguageName }}</a>-->
  <!--  {{ end }}-->
  </nav>
  
  <!--<ul>-->
  <!--      {{ range .Site.Params.languages }}-->
  <!--      <li class="mdl-navigation__link navigation__link">{{ . }}</li>-->
  <!--      {{ end }}-->
  <!--    </ul>-->
</div>
