<header id="header" class="mdl-layout__header">
  <div class="mdl-layout__header-row header-row" id="header-content">
    <a href="{{ "/" | relLangURL }}" class="header-logo"></a>
    <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only navigation">
        {{- $currentNode := . -}}
        {{ range .Site.Menus.main -}}
          {{ if $currentNode.IsPage }}
              <a class="mdl-navigation__link navigation__link {{ if eq ($currentNode.Permalink | absLangURL)  (.URL | absLangURL) }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ else }}
              <a class="mdl-navigation__link navigation__link {{ if eq ($currentNode.Permalink | absLangURL)  (.URL | absLangURL) }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ end }} 
        {{- end }}
      </nav>
     
</header>

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation drawer-navigation">
    <!--<a class="mdl-navigation__link" href="/"><i class="material-icons">home</i></a>-->
    
    {{- $currentNode := . -}}
        {{ range .Site.Menus.main -}}
          {{ if $currentNode.IsPage }}
              <a class="mdl-navigation__link navigation__link {{ if eq ($currentNode.Permalink | absLangURL)  (.URL | absLangURL) }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ else }}
              <a class="mdl-navigation__link navigation__link {{ if eq ($currentNode.Permalink | absLangURL)  (.URL | absLangURL) }}active{{ end }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          {{ end }} 
        {{- end }}
    
    <!--{{ range .Site.Params.sections }}-->
    <!--  {{ $path := "a" }}-->
    <!--    <a class="mdl-navigation__link navigation__link" href="{{ .path | relLangURL }}">-->
    <!--      {{ .prettyName }}</a>-->
    <!--{{ end }} -->
  
  <!--<div class="mdl-navigation__link">-->
  <!--  {{ $currentLanguage := .Language.LanguageName }}-->
  <!--  {{ range .Site.Languages }}-->
  <!--    {{ if ne $currentLanguage .LanguageName }}-->
  <!--      <a href="{{ printf "%s%s" "/" .Lang }}">{{ .LanguageName }}</a>-->
  <!--    {{ end }}-->
  <!--  {{ end }}-->
    
  <!--</div>-->
  </nav>
</div>