<div class="mdl-navigation__link language-selector mdl-layout--large-screen-only">
  <button id="menu-languages" class="mdl-button">
    <i class="material-icons">language</i>
    <label>{{ .Language.LanguageName }}</label>
  </button>
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-languages">
    {{ range .Site.Languages }}
      <a href="{{ printf "%s%s" "/" .Lang }}"><li class="mdl-menu__item">{{ .LanguageName }}</li></a>
    {{ end }}
  </ul>
</div>

