<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	{{ partial "head.html" . }}
</head>
<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		{{ partial "header.html" . }}
		
		<main class="mdl-layout__content">
      		{{ partial "index/home.html" . }} 
      		{{ partial "index/services.html" . }}
      		{{ partial "index/google-for-education.html" . }}
      		{{ partial "index/google-for-work.html" . }}
      		{{ partial "footer.html" . }}
    	</main>
	</div>
	{{ partial "footer_includes.html" . }}
</body>
</html>